body{
    display: flex;
    justify-content: center;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
}

#popUpPregunta{
    position: relative;
    text-align: center;
    border-style: double;
    padding: 34px;
    display: none;
}
#player{
	position:absolute;
    top:0;
    left:0;
}
.labelRespuesta{
    text-align: center;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
}
#respuestas{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    justify-content: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.fa-user-circle{
    background-color: red;
}
#divCasilla{
    width: auto;
    position: relative;
}
.tablero {
	display: grid;
	gap: 0;
    z-index: -1;
}
.contenedor{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.casilla {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	position: relative;
}

.H {
    position: relative;
    background-color: #ffca3a;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.D {
	position: relative;
	background-color: #FB4D3D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.E {
	position: relative;
	background-color: #BFAED5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.G {
	position: relative;
	background-color: #6FBCEC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.A {
	position: relative;
	background-color: #EEC6CA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.C {
	position: relative;
	background-color: #8ac926;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#tablero div {
    height: 60px;
    width: 75px;
}
.container {
    width: 80px;
    height: 80px;
    perspective: 1200px;
    position: absolute;
    margin-bottom: 20%;
}

.cube {
    transform: translateY(40px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-face {
    position: absolute; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;
    background: white;
    border: black 1px solid;
    border-radius: 5%;
}

.front {
    transform: translateZ(20px);
}

.back {
    transform: rotateY(180deg) translateZ(20px);
}

.left {
    transform: rotateY(-90deg) translateZ(20px);
}

.right {
    transform: rotateY(90deg) translateZ(20px);
}

.top {
    transform: rotateX(90deg) translateZ(20px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(20px);
}

.inside {
    display: grid;
    grid-template-columns: repeat(3, 8px);
    grid-template-rows: repeat(3, 8px);
}

.dot {
    height: 7px;
    width: 7px;
    background-color: black;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.front .inside .dot {
    grid-row: 2;
    grid-column: 2;
}

.back .inside .dot:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.back .inside .dot:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.back .inside .dot:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
}

.back .inside .dot:nth-child(4) {
    grid-row: 3;
    grid-column: 1;
}

.back .inside .dot:nth-child(5) {
    grid-row: 3;
    grid-column: 2;
}

.back .inside .dot:nth-child(6) {
    grid-row: 3;
    grid-column: 3;
}

.left .inside .dot:nth-child(1) {
    grid-row: 1;
    grid-column: 3;
}

.left .inside .dot:nth-child(2) {
    grid-row: 2;
    grid-column: 2;
}

.left .inside .dot:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
}

.right .inside .dot:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.right .inside .dot:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
}

.right .inside .dot:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
}

.right .inside .dot:nth-child(4) {
    grid-row: 3;
    grid-column: 3;
}

.top .inside .dot:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.top .inside .dot:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
}

.top .inside .dot:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
}

.top .inside .dot:nth-child(4) {
    grid-row: 3;
    grid-column: 1;
}

.top .inside .dot:nth-child(5) {
    grid-row: 3;
    grid-column: 3;
}

.bottom .inside .dot:nth-child(1) {
    grid-row: 1;
    grid-column: 3;
}

.bottom .inside .dot:nth-child(2) {
    grid-row: 3;
    grid-column: 1;
}