<!DOCTYPE html>
<html>

<head>
	<title>Trivia</title>
	<link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
	</link>
	<!-- CSS INPUT NUMERICO -->
	<link id="cssInput" rel="stylesheet" type="text/css" th:href="@{/styles/inicio.css}">
	</link>
	<!-- ICONOS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
		type="text/css">
	</link>
	<!-- IMPORT JQUERY -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<!-- BOOTSTRAP -->

</head>

<body>
	<div id="page-wrapper" role="main" tabindex="0">
		<p style="font-size: 40px;">Numero de jugadores</p>
		<div id="content-wrapper" style="padding: 65px;">
			<input type="number" value="1" min="1" max="4" maxlength="5" inputmode="numeric" name="number" id="number"
				pattern="[0-9]*" aria-live="assertive" style="color: black;"></input><span id="stepper-wrapper" class="stepper-wrapper">
				<button class="stepper stepper-up" id="step-up" type="button" aria-controls="number">Add</button>
				<button class="stepper stepper-down" id="step-down" type="button"
					aria-controls="number">Subtract</button>
			</span>

			<input type="number" value="1" min="1" maxlength="5" inputmode="numeric" name="numPuntos"
				id="numPuntos" pattern="[0-9]*" aria-live="assertive" style="color: black;"></input>
				<span id="stepper-wrapper-puntos" class="stepper-wrapper">
				<button class="stepper stepper-up" id="puntos-up" type="button" aria-controls="numPuntos">Add</button>
				<button class="stepper stepper-down" id="puntos-down" type="button"
					aria-controls="numPuntos">Subtract</button>
			</span>
		</div>
		<button type="button" id="btnContinuar" class="button" onclick="redireccionarAlJuego()"
			style="grid-row-start: 1;">continuar</button>
	</div>
	<div id="content" style="display: none;"></div>

	<script type="text/javascript" th:src="@{/scripts/scriptsInicio.js}"></script>
	<script type="text/javascript" th:src="@{/scripts/script.js}"></script>
</body>

</html>