<div id="juego">
	<table id="puntuaciones" class="table table-striped">
		<tr>
			<th>Jugador</th>
			<th>Puntos</th>
		</tr>
	</table>
	<div class="contenedor">
		<div id="tablero" class="tablero"></div>
		<div class="contenedorDado">
			<div class="cubo" onclick="tirar()">
				<div class="cubo-face front">
					<div class="inside">
						<span class="dot"></span>
					</div>
				</div>
				<div class="cubo-face back">
					<div class="inside">
						<span class="dot"></span> <span class="dot"></span> <span
							class="dot"></span> <span class="dot"></span> <span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>
				<div class="cubo-face left">
					<div class="inside">
						<span class="dot"></span> <span class="dot"></span> <span
							class="dot"></span>
					</div>
				</div>
				<div class="cubo-face right">
					<div class="inside">
						<span class="dot"></span> <span class="dot"></span> <span
							class="dot"></span> <span class="dot"></span>
					</div>
				</div>
				<div class="cubo-face top">
					<div class="inside">
						<span class="dot"></span> <span class="dot"></span> <span
							class="dot"></span> <span class="dot"></span> <span class="dot"></span>
					</div>
				</div>
				<div class="cubo-face bottom">
					<div class="inside">
						<span class="dot"></span> <span class="dot"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<input id="numJugador" type="number" value="0" min="0" max="3" placeholder="jugador"></input> 
		<input id="numCasillas" type="number" value="6" min="1"  placeholder="numeroCasillas"></input>
		<button type="button" onclick="prueba()">prueba</button>
	</div>
	<div class="firework" data-on="off"></div>
	<div id="popUpPregunta" data-on="off">
		<div id="divPregunta">
			<p id="pregunta"></p>
			<form id="respuestas" name="respuestas"></form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/scripts/script.js}"></script>
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
		rel="stylesheet" type="text/css">

	</link>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
</div>